.planning {
  display: flex;
  flex-direction: column;
  position: relative;
}

.addPlanningIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #666666;
  text-decoration: none;
  position: absolute;
  top: -40px;
  right: 20px;
  z-index: 3;
}

.addPlanningIcon:hover .wrapped {
  padding: 5px;
}

.addPlanningIcon .wrapped {
  background-color: #0077b6;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  margin-top: 10px;
  border: 7px solid #f5f5f8;
  box-sizing: content-box;
  transition: padding 0.5s;
}

.addPlanningIcon .wrapped .icon {
  width: 15px;
  height: 15px;
}

.typePlan {
  padding-bottom: 5px;
  /* position: absolute; */
  /* top: -50%; */
  transform: translateY(-100%);
  /* margin-top: -55px; */
  display: flex;
  justify-content: center;
  z-index: 5;
  /* box-shadow: 0px 5px 5px #dddddd; */
  border-radius: 50vh;
  /* background-color: #ffffff; */
}

.typePlan .item {
  color: #ffffff80;
  cursor: pointer;
  font-weight: 600;
  margin-right: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}


.typePlan .item.active {
  color: #fff;
}

.typePlan .item.active .hrBottom{
  background-color: #fff;
  width: 50%;
  height: 3px;
  border-radius: 5px;
}

.planning .MuiTabs-flexContainer {
  width: 100vw !important;
  display: flex;
  justify-content: center;
}
