.SignUp {
  display: grid;
  place-items: center;
}

.SignUp .Item {
  width: 400px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 30px 0px;
  margin-top: 10px;
  box-shadow: 0px 2px 10px 2px #dddddd;
  border-radius: 5px;
}

.SignUp .Item h2 {
  color: #8e8e8e;
  font-size: 17px;
  margin: 15px;
  text-align: center;
}

.SignUp .Item .logo {
  width: 50px;
}

.SignUp .Item .Content {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignUp .Item .BySocial {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 0px;
  width: 100%;
  border-radius: 5px;
  color: #fff;
  margin: 5px 0px;
  cursor: pointer;
}

.SignUp .Item .BySocial img {
  width: 15px;
  height: 15px;
}

.SignUp .Item .BySocial.facebook {
  background-color: #3578b7;
}

.SignUp .Item .BySocial.facebook:hover {
  background-color: #234f77;
}

.SignUp .Item .BySocial.google {
  background-color: #dd4b39;
}

.SignUp .Item .BySocial.google:hover {
  background-color: #c23321;
}

.SignUp .Item .BySocial:focus {
  outline: none;
}

.SignUp .BySocial span {
  padding-left: 5px;
  font-size: 14px;
  font-weight: 600;
}

.SignUp .or {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8e8e8e;
  font-weight: 600;
  margin: 20px 0px;
}

.SignUp .or span {
  font-size: 14px;
}

.SignUp .ngang {
  display: inline-block;
  width: 40%;
  height: 1px;
  background-color: #dbdbdb;
}

.SignUp .form-signup {
  width: 100%;
}

.SignUp .form-signup .formItem {
  width: 100%;
  border: none;
  padding: 10px;
  box-shadow: inset 0px 0px 0px 1px #eeeeee;
  margin: 10px 0px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.SignUp .form-signup .formItem .iconInput {
  color: #367BBF;
}

.SignUp .form-signup .formItem label {
  font-size: 11px;
  color: #a0a0a0;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 3px;
  font-size: 10px;
  position: absolute;
  top: -6px;
  left: 35px;
  background-color: #fff;
  padding: 0px 5px;
}

.SignUp .form-signup .formItem input {
  border: 0px;
  padding: 0px;
  flex-grow: 2;
  margin-left: 10px;
}

.SignUp .form-signup .formItem input:focus {
  outline: none;
}

.SignUp .form-signup .btnSubmit {
  background-color: #3578b7;
  color: #ffffff !important;
  font-weight: 600;
  font-size: 14px;
  margin: 15px 0px !important;
  align-items: center !important;
  border-radius: 5px !important;
  cursor: pointer;
}

.SignUp .form-signup .btnSubmit.disabledBtn {
  cursor: not-allowed!important;
  background-color: #79b4db;
}

.SignUp .form-signup .formItem:focus {
  outline: none;
}

.SignUp .Change-Signin {
  font-size: 14px;
  flex-direction: row;
  justify-content: center;
}

.SignUp .Change-Signin a {
  padding-left: 5px;
  color: #3578b7;
  font-weight: 600;
  text-decoration: none;
}
