.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f8;
}

.user .avatar {
  width: 80px;
  height: 80px;
  margin-top: -40px;
  z-index: 2;
}

.user .infor {
  text-align: center;
  margin: 10px 0px 10px 0px;
  line-height: 30px;
}

.user .infor .name {
  font-weight: 500;
  font-size: 24px;
}

.user .infor .mail {
  font-size: 18px;
  color: #888888;
}

.user .title {
  align-self: flex-start;
}

.user .settingUser {
  background-color: #7FDBA7;
  border: none;
  border-radius: 50vh;
  padding: 10px 30px;
  color: #fffeee;
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0px;
}

.user .title {
  font-size: 20px;
  padding: 10px 15px;
  font-weight: 500;
}

.user .main {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}

.user .userItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  margin: 0px 15px 30px 15px;
  background-color: #fff;
  border-radius: 5px;
}

.user .userItem .iconItem {
  font-size: 30px;
}

.user .userItem .bgIcon {
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  margin: 10px;
}

.bgIcon.wallet {
  color: #5180DA;
  background-color: #5181da20;
}

.bgIcon.group {
  color: #A85ADE;
  background-color: #A85ADE20;
}

.bgIcon.brown {
  color: #E05C96;
  background-color: #E05C9620;
}

.bgIcon.setting {
  color: #E98360;
  background-color: #E9836020;
}

.user .userItem span {
  font-size: 18px;
}
