.costPerDay {
  background-color: #ffffff;
  border-radius: 7px;
  margin: 20px;
}

.costPerDay .date {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  border-bottom: 2px solid #F5F5F8;
}

.date h1 {
  font-size: 50px;
  font-weight: 500;
}

.date .infor {
  flex-grow: 2;
  margin-left: 10px;
}

.date .infor h3 {
  font-size: 18px;
  font-weight: 500;
}

.date .infor p {
  margin-top: 5px;
  font-size: 16px;
  color: #888888;
}

.costPerDay .sumAmount {
  font-weight: 500;
}