.footer {
  display: flex;
  background-color: #ffffff;
  justify-content: space-around;
  position: sticky;
  width: 100%;
  bottom: 0;
  padding: 15px 0px;
  box-shadow: 0px -5px 20px #bbbbbb;
  min-width: 100px;
}

.footer.notShow {
  display: none;
}

.footer .footerItem {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 50vh;
  background-color: #ffffff;
}
/* 
.footer .footerItem:hover {
  background-color: #f5f5f8;
} */

.footer .footerItem.active {
  background-color: #0077b6;
  border: #0077b6;
}

.footer .footerItem p {
  display: none;
}

.footer .footerItem.active p {
  /* color: #0077b6; */
  color: #ffffff;
  font-weight: 600;
  display: inline;
}

.footer .footerItem .icon {
  font-size: 25px;
  color: #222222;
  margin-right: 5px;
}

.footer .footerItem.active .icon {
  color: #ffffff;
}

@media only screen and (min-width: 992px) {
  .footer {
    order: 1;
    flex-direction: column;
    /* position: fixed; */
    width: auto;
    height: 100vh;
    left: 0;
    top: 0;
  }

  .footer .footerItem {
    flex-direction: column;
    border-radius: 5px;
    padding: 15px 5px;
    margin: 0px 10px;
  }
}
