.GroupItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 12px;
  min-width: 50px;
}

.GroupItem:hover {
  background-color: #F5F5F8;
  cursor: pointer;
}

.GroupItem img{
  width: 30px;
  height: 30px;
}

.GroupItem p {
  font-size: 12px;
}