.header {
  color: #fff;
}

.header .item {
  display: none;
  background-color: #0077b6;
  padding: 50px 40px;
  background-image: linear-gradient(to right, #3578aa, #a4c7e0);
}

.header .item .title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  padding: 0px;
}

.header .item.active {
  display: block;
}

.header .transaction p {
  font-size: 18px;
  font-style: italic;
  opacity: 0.8;
}

.header .user {
  text-align: center;
}

.header .addTransactionHeader {
  display: flex !important;
  flex-direction: row;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.header .addTransactionHeader .name {
  flex-grow: 2;
  text-align: center;
}

.header .addTransactionHeader .backIcon {
  color: #fff;
}