.planItem {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  border-radius: 10px;
  line-height: 25px;
}

.planItem .headerPlan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.planItem .headerPlan .iconCategory {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.planItem .headerPlan p {
  font-size: 18px;
  flex-grow: 2;
  margin-bottom: 5px;
  font-weight: 500;
}

.process {
  border-radius: 5px;
  background-color: #F5F5F8;
  margin: 20px 0px;
}

.MuiLinearProgress-bar {
  background-color: #0077b6!important;
}

.time {
  display: flex;
  justify-content: space-between;
  color: #888888;
}


