.reportType {
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.reportType .sum {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.reportType .sum p {
  font-size: 24px;
  font-weight: 500;
}

.reportType .outflow .amount{
  color: #E44B65;
}

.reportType .inflow .amount{
  color: #43aa8b;
}

.reportType .sum .amount {
  font-weight: 600;
}
